<p>input-page works!</p>
<mat-card>

    <mat-grid-list cols="4" rowHeight="3:2">
        <mat-grid-tile>
            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>Legacy form field</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>Standard form field</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Fill form field</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Outline form field</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>Legacy form field</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>Standard form field</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Fill form field</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Outline form field</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>Legacy form field</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>Standard form field</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Fill form field</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Outline form field</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </p>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>