:host {
  
}
.example-spacer {
    flex: 1 1 auto;
  }


  .card{
    width: 300px;
    min-height: 35px;
    padding: 2%;
    border: 2px solid grey;
    background-color:cornflowerblue;
    justify-content: center;
    color: aliceblue;
  }